// a,
// p,
// dd,
// dt,
// dl,
// h1,
// h2,
// h3,
// h4,
// h5,
// hr,
// ul,
// li,
// article,
// strong,
// blockquote,
// footer,
// {color: black;}

a {text-decoration: none;}
sup {
  vertical-align: super;
  font-size: 0.75em;
  line-height: 0pt;
}
.keep {
  word-break: break-all;
}
.article {

}

.bloc {
  // margin-top: -10px;
  // padding-top: 10px;
}
.blanc {
  // background-color: white;
}


/*article {
  border-left: 1px solid black;}*/

.rule--left{border-left: 1px solid black;}

.rule--right{border-right: 1px solid black;}

.push {page-break-before: always;}
.push-down {page-break-after: always;}

.down {
  margin-top: 20pt;
}

// .page {
//   background-image: url(http://www.balsamine.be/images/damier.png);
//   background-size: 10px;
//   background-repeat: repeat;
// }


/*==============================================================*/
/*______________________ Texte - Global ________________________*/
/*==============================================================*/
.flow-main {
  // column-count: 2;

}


p {
  vertical-align: baseline;
  font-family: 'Ume vertical';
  font-size: 8pt;
  line-height: 10pt;
}

p, .informations, .intro {
  margin-bottom: 6pt;
}
p:last-of-type {
  margin-bottom: 0pt;
}

.subhead {
  page-break-inside: avoid;
  page-break-after: avoid;
  page-break-before: avoid;

  margin-top: -16pt;
  padding: 18pt 0pt 12pt 0pt;
}
.subhead {
  font-family: 'Ume Mincho';
  font-size: 9pt;
  text-transform: uppercase;
  line-height: @line-height;
  margin-left: 0pt;
}
/*
---------------- début des titres

*/

h3, h4 {
  page-break-inside: avoid;
  page-break-after: avoid;
  page-break-before: avoid;
  margin: 0;
  padding: 6pt 0pt;
}

//titres
h1 {
  font-family: 'Ume Mincho';
  font-family: 'Ume Mincho';
  font-size: 22pt;
  line-height: 20pt;
  letter-spacing: -0.02em;
  margin-bottom: 4.5pt;
  text-transform: uppercase;
}


// auteurs
h2 {
  font-family: 'Ume vertical';
  font-size: 10pt ;
  line-height: 14pt;
  margin-bottom: 2pt;
}

// sous-titres
h3 {
  font-family: 'Ume Mincho';
  font-size: 12pt;
  line-height: calc(~"1.5 x @line-height");

  // section des parties =
  // border-top: 1.5pt solid white;
  text-transform: uppercase;
}

.xx h3 {
  font-family: 'Ume Mincho';
  font-size: 22pt;
  padding-top: 0pt;
}

.xx h1 {
  font-family: 'Ume Mincho';
  font-size: 35pt;
  line-height: 30pt;
  color: black;
  margin-top: -2pt;
}

.xx h1 + p:first-of-type {
  color:black !important;
}


h4 {
  font-family: 'Ume vertical';
  font-size: 8pt;
  line-height: calc(~"-1.5 x @line-height");
  text-transform: uppercase;
  page-break-before: always;
  margin-top: 0pt;
  padding-top: 0pt;
}

//cas particuliers
 .valhalla h4 {
   // page-break-before: avoid;
   // margin-top: 10pt;
 }
.lost-in-ballets h4 {
  // page-break-before: avoid;
  // margin-top: 10pt;
}
.carnets-peter h4 {
  page-break-before: avoid;
  margin-top: 10pt;
}
.poison h4 {
  margin-top: -10pt;
}
.xx h4.no-push {
  margin-top: 10pt;
  page-break-before: avoid;
}

.xx h3.poesie {
  page-break-before: always;
}

.xx h3.looking {
  page-break-before: always;
}

.xx h3.coeur {
  page-break-before: always;
}



.ludum h1 {
  margin-top: -10pt;
}


/*
---------------- fin des titres

*/


hr {
  visibility: hidden;
}

a{
  text-decoration: none;
  // text-decoration-color: #ff546d;
}

ul {
  list-style: none;
  // font-family: 'Ume Mincho';
  padding-top: @line-height;
}

li {
  list-style: none;
}


.sommaire {
  font-family: 'Ume Mincho';
  text-transform: uppercase;
  font-size: 8pt;
}

.sommaire p{
  margin:0pt !important;
  margin-bottom:-0pt!important;
}

.sommaire-pass {
  color:#fe5000 !important;
}
//
// .sommaire dd, dt {
//   font-size: 8pt;
//   text-transform: uppercase;
//   line-height: 9pt;
// }
//
// .sommaire dd {
//   font-family: 'Ume Vertical';
//   font-size: 8pt!important;
//   color:red !important;
//   text-transform: uppercase;
//   text-align: left;
//   display: inline;
// }
//
// .sommaire dt {
//   font-family: 'Ume Mincho'!important;
//   font-size: 8pt;
//   text-transform: uppercase;
//   text-align: right !important;
//   display: inline;
// }

.united {
  height: 25px;
  width: 95px;
  float: left;
  padding-right: 6px;
  padding-bottom: 14px;
  margin-top: -8px;
}

.logo {
  max-height: 22.5pt /*30px*/;
  outline: none;
  margin-top: 0;
  margin-left: calc(~"2 x @line-height");
  margin-bottom: @line-height;
}

// autres images
.autre {
  padding: 0;
  margin: 0;
  outline: none;
  width: auto;
}



/*==============================================================*/
/*__________________________ PARTIE 1 __________________________*/
/*___________________________ Edito ____________________________*/
/*==============================================================*/

.edito {
  padding: 12pt;
  margin-bottom: 0pt;
}

.edito h1 {
  font-family: 'Ume Mincho';
  text-align: left;
  text-transform: uppercase;
}
.edito h1:first-of-type {
  font-size: 22pt;
  line-height: 22pt;
  margin-bottom: 0pt;
  padding-bottom: 0pt;
  margin-top: 6pt;
}
.edito h1:nth-of-type(2) {
  margin-top: 2pt;
}

.edito h1{
  font-size: 60pt;
  line-height: 60pt
}

.edito h2 {
  font-family: 'Ume Mincho';
  text-transform: uppercase;
  font-size: 20pt;
  line-height: 20pt;
  text-align: left;
  padding: 10pt 0pt 0pt 0pt;
}



/*==============================================================*/
/*__________________________ PARTIE 2 __________________________*/
/*___________________________ Saison ___________________________*/
/*==============================================================*/



// Contient : Dates + End, Event-type, Time.
.informations {
  font-family: 'Ume vertical';
  font-size: 10pt ;
  line-height: 14pt;
  margin:0;
}

.dates {
  font-family: 'Ume Mincho';
  font-size: 18pt;
  line-height: 17pt;
  letter-spacing: -0.02em;
  margin-bottom: 2pt;
}

.off {
  display: none;
}

.intro {
  font-family: 'Ume vertical';
  font-size: 12pt;
  line-height: 1.1em;
}

strong {
  font-weight: bolder;
  font-family: 'Ume Mincho';
}
blockquote {
  font-family: 'Ume Mincho';
  font-size: 13.5pt;
  line-height: 1.1em;
  margin: 20pt;
  padding: 0;
  margin-bottom: 24pt;
  text-align: center;
  padding-top: 18pt;
  transform: skewX(10deg);
}
blockquote p {
  margin-bottom: 0pt;
  font-family: 'Ume Mincho';
  transform: skewX(10deg);
  transform: skewY(8deg);


}

.footer {
  font-family: 'Ume vertical';
  font-size: 7pt ;
}
dl {
  line-height: 8pt;
  margin-top:0pt;
}
.ludum dl {
  page-break-before: always;
}

dt {
  font-family: 'Ume Mincho';
  font-size: 7.5pt ;
  display: inline;
  vertical-align: baseline;
}
.xx dt {
  font-family: 'Ume Mincho Bold';
}
dd:first-of-type::before {
    margin-left: 0pt
}

dd {
  font-family: 'Ume vertical';
  font-size: 7pt;
  display: inline;
}

.production {
  font-family: 'Ume vertical';
  font-size: 7pt;
  line-height: 9pt;
  margin-top: 4.5pt;
}

.figure {
  font-size: 9.5pt;
  line-height: 12pt;
}
.figure img {
  margin-bottom: 3pt;
}
.punchline {
  font-family: 'Ume Mincho';
  font-size: 18pt;
  line-height: 17pt;
}

.blanc {
  color:white;
}

.vert {
  color:#009933!important;
}

.orange {
  color:#fe5000 !important;
}

// fond couleur sur XXTimes
// .sheet:nth-child(n+31):nth-child(-n+49) .page {
//   background-color: #fe5000 !important;
// }

// fond couleur sur PIF
// .sheet:nth-child(n+55):nth-child(-n+57) .page {
//   background-color: #009933 !important;
// }




/*==============================================================*/
/*__________________________ images __________________________*/
/*==============================================================*/
// img[alt="origine-1"] {
//   margin-top: 10pt;
// }
img[alt="ou-suis-je-01"] {
    margin-top: 8pt;
}
img[alt="ou-suis-je-03"] {
    margin-top: 6pt;
  }
img[alt="ou-suis-je-05"] {
float: left;
position: relative;
padding-right: 7px;
}
img[alt="ou-suis-je-06-2"] {
  margin-top: -163px;
  margin-left: 52%
}
img[alt="origine-4"],
.origine .visuels.figure.demi,
.ou-suis-je .visuels.figure.demi {
  float: left;
  position: relative;
  padding-right: 7px;
  width: 50%;
}
.origine .visuels.figure.demi p.right {
  margin-top: -6pt;
}
.ou-suis-je .visuels.figure.demi  + p.down {
  margin-top: 50pt;
  width: 50%;
}
.ou-suis-je .visuels.figure.demi.right {
  margin-top: -2pt;
}
img[alt="img/coeur-00"] {
  margin-top: -6pt;
}
img[alt="poesie-05"] {
  margin-top: -14pt;
}
img[alt="iclit-side-00-2"] {
  margin-top: -30pt;
}
img[alt="laboratoire-02"] {
  margin-left: -10pt;
}
.xx .visuels.figure.demi.looking p:first-of-type {
  float: left;
  position: relative;
  padding-right: 13px;
  width: 50%;
  margin-top: -10pt;
  margin-left: -4pt
}
img[alt="looking-01"] {
  margin-bottom: 0pt;
}
img[alt="ludum-01"]  {
  margin-left: -28pt;
}
img[alt="ludum-00"]  {
  margin-top: 20pt;
  page-break-after: always;
}
img[alt="lost-01"]  {
  margin-left: -8pt;
  margin-top: 2pt;
}
img[alt="lost-planter-fougere2"]  {
  margin-top: 10pt;
}
img[alt="label-united-stages-txt"]  {
  float: left;
  position: relative;
  padding-right: 10px;
  margin-top: -2pt;
  width: 33%;
}
img[alt="logos-all"],
img[alt="label-united-stages-txt"] {
    margin-left: 2pt !important;
}
img[alt="logos-all"]{
  width: 44%;
  margin:auto;
}
.partenaires p.demi {
}
.partenaires .demi + p {
  margin-top: -16pt
}
.demi {
  width: 50%;
}
.looking.right{
  padding-top: 46pt;
  margin-top: -22pt;
}

.orange-stroke {
  stroke:orange;
}

.visuels p {
  position: relative;
}

// .visuels img {
//   position:absolute;
//   top:0;
//   left:0;
// }

.crousti {
  width: 175px;
}

/*==============================================================*/
/*__________________________ PARTIE 3 __________________________*/
/*______________________ Infos Pratiques _______________________*/
/*==============================================================*/

.info-pratique {
  margin-top: -13pt;
}
.info-pratique.partenaires {
  margin-top: 10pt;

}
img[alt="tarifs-03"] {
    margin-top: -13pt;
}
img[src="tarifs-04"] {
    margin-left: -1pt !important;
}


.info-pratique {
  box-sizing: border-box;
  border: 1.5pt solid black;
}
.info-pratique p, .info-pratique dl {
  padding: 5pt 5pt 7pt 5pt;
  margin-bottom: 10pt;
  margin-bottom:-1.5pt;
}
.info-pratique img {
  margin-left: -5pt;
}


.info-pratique h2 {
  padding: 0pt 5pt 0pt 5pt;
margin-top: 6pt !important;
margin-bottom: 0pt;
}
.info-pratique h2 + p.informations {
padding-top: 0pt !important;
padding-bottom: 0pt;

}
.info-pratique h1 {
  padding: 5pt 5pt 0pt 5pt;

  font-family: 'Ume Vertical';
  font-size: 13pt;
  text-transform: uppercase;
  line-height: 15pt;
  letter-spacing: 0.03em;
}
.info-pratique h2{
  font-family: 'Ume Mincho';
  text-align: left;
  margin-top: 9pt;
  text-transform: uppercase;

}


.info-pratique h3 {
  font-family: 'Ume vertical';
  font-size: 10pt;
}

.info-pratique p.informations + p.production  {
  margin-top: 0pt;

}

.colophon p.production {
  margin-top: 0pt;
padding-top: 0pt;
}
.texteinfo{
  font-family: 'Ume Mincho';
  font-size: 10pt !important;
  line-height: 12pt;
}


.note {
  font-family: 'Ume vertical';
  font-size: 7pt;
  line-height: 9pt;
  margin-top: 4.5pt;
}
.note em {
  font-family: 'Ume Mincho Bold';
font-size: 8pt;
}
.figure em {
  font-family: 'Ume Mincho Bold';
font-size: 12pt;
}
.pass{
  max-width: 181px;
  max-height: 830px;
  padding: 0pt 5pt;
}

.pass h1 {
  font-size: 60pt;
  line-height: 60pt;
  page-break-before: always;
}
.pass dl {
  page-break-before: always;
  page-break-after: always;
  line-height: 40pt;
 }
.pass dl + h2 {
  page-break-before: always;
}
.pass dt {
  font-size: 13pt;
}
.pass h2, .pass h3 {
  font-size: 8pt;
  line-height: 8pt;
  font-family: "Ume Mincho";
  text-transform: uppercase;
  margin-bottom: 0pt
}

.map {

  background-image: url(http://www.balsamine.be/images/map.svg);
  background-repeat: no-repeat;
  border: 0px solid black;
  background-size: 100%;
  background-position: -30px 10px;
  }


.tarif{
  font-family: 'Ume Mincho';
  font-size: 8pt !important;
  // line-height: 12pt;
  text-transform: uppercase;
  // letter-spacing: 0.05em;
  width: 100px;
  padding: 1.5px 8px;
  display: block;
  vertical-align: baseline;
  border: 0px solid black;
  text-align: center;

}

.prix{
  font-family: 'Ume gothic';
  font-size: 16pt ;
  display: block;
  margin-bottom: 0pt;
  padding-left: 121pt;
  display: block;
  margin-top: 7pt;
}

.groupes {
  font-family: 'Ume Mincho';
  font-size: 8pt;
  line-height: 12.5pt;
  text-transform: uppercase;
  // letter-spacing: 0.05em;
  width: 150px;
  padding: 1.5px 8px;
  display: block;
  vertical-align: baseline;
  border-bottom: 0px solid black;
  background: linear-gradient(135deg, #ffffff 0%, #b7b7b7  100%);
  border-radius: 24px;
  text-align: center;
  margin: 12pt 12pt 0pt 12pt;
}

.footnote {
  font-family: 'Ume gothic';
  font-size: 10pt;
  line-height: 12pt;
  display: inline;
}

.center {
  font-family: 'Ume gothic';
  font-size: 10pt;
  line-height: 12pt;
  display: block;
  text-align: center;
}
.edito dt{
  font-size: 10pt;
}
.edito dd{
  // display: block;
}
.edito dl {
  margin-bottom: 12pt;
}

.info-pratique dt {
  font-family: 'Ume Mincho';
  font-size: 7.5pt ;
  display: inline;
  vertical-align: baseline;
  // display: none;
  // font-family: 'Ume Mincho';
  // font-size: 8pt;
  // text-transform: uppercase;
  // padding: 1.5px 8px;
  // display: block;
  // vertical-align: baseline;
  // border: 0px solid black;
  // background: linear-gradient(135deg, #b7b7b7 0%,#ffffff 100%);
  // border-radius: 16px;
  // margin-top: 11pt ;
}

.info-pratique dd {
  font-family: 'Ume vertical';
  font-size: 7pt;
  display: inline;

}
.fond-orange {
  background-color: #fe5000 ;
}
.fond-vert {
 background-color: #009933;
}

/*==============================================================*/
/*__________________________ export __________________________*/
/*______________________ couches_______________________*/
/*==============================================================*/

//////////////////////////couche verte //////////////////////////
.export-vert {
  .pantone-orange {
    visibility: hidden;
  }
  .all{
    display: none;
  }
  .vecto {
    display: none;
  }
  .fond-orange {
    background-color: transparent;
  }
  .fond-vert {
   background-color: black;
  }
  .edito,
  .sommaire,
  .accueils,
  .tarifs,
  .colophon,
  .partenaires,
  .equipe,
  .pass,
  .sheet:nth-child(even) .main:after,
  .sheet:nth-child(odd) .main:after{
    visibility: hidden;

  }
  .origine,
  .ou-suis-je,
  .valhalla,
  .lost,
  .carnets-peter,
  .poison,
  .xx,
  .ludum {
    h1,
    h2,
    h3,
    h4,
    p.dates,
    p.informations,
    p.figure,
    dl,
    p.production,
    p.note {
      visibility: hidden;
    }
  }
   }

//////////////////////couche orange ////////////////////////
.export-orange {
  .pantone-vert {
    visibility: hidden;
  }
  .all{
    display: none;
  }
  .vecto {
    display: none;
  }
  .fond-orange {
    background-color: black;
  }
  .fond-vert {
   background-color: transparent ;
  }
  .edito,
  .sommaire,
  .accueils,
  .tarifs,
  .colophon,
  .partenaires,
  .equipe,
  .pass,
  .sheet:nth-child(even) .main:after,
  .sheet:nth-child(odd) .main:after{
    visibility: hidden;
  }
  .origine,
  .ou-suis-je,
  .valhalla,
  .lost,
  .carnets-peter,
  .poison,
  .ludum {
    h1,
    h2,
    h3,
    h4,
    p.dates,
    p.informations,
    p.figure,
    dl,
    p.production,
    p.note {
      visibility: hidden;
    }
  }
}

//////////////////couche noire///////////////////////
.export-vecto {
  .pantone-orange {
    display: none;
  }
  .pantone-vert{
    display: none;
  }
  .all{
    display: none;
  }
  .pantone-trou-blanc{
    display: none;
  }
  .fond-orange {
    background-color: transparent;
  }
  .fond-vert {
   background-color: transparent ;
  }
}

//////////////////couche all///////////////////////
.export-all {
  .pantone-orange {
    display: none;
  }
  .pantone-vert{
    display: none;
  }
  .vecto {
    display: none;
  }
  .pantone-trou-blanc{
    display: none;
  }
}
