/**
 * This file holds the declaration of the fonts used in our layout.
 */


 @font-face {
     font-family: 'Ume Mincho';
     font-weight: normal;
     font-style: normal;
     src: url('/fonts/ume-mincho_balsa-webfont.ttf') format('woff');
 }

 @font-face {
     font-family: 'Ume Mincho Bold';
     font-weight: normal;
     font-style: normal;
     src: url('/fonts/ume-mincho_balsa-bold-webfont.ttf') format('woff');
 }
 @font-face {
     font-family: 'Ume gothic';
     font-weight: normal;
     font-style: normal;
     src: url('/fonts/ume-p-gothic-webfont.woff') format('woff');
 }

 @font-face {
     font-family: 'Ume vertical';
     font-weight: normal;
     font-style: normal;
     src: url('/fonts/ume-p-gothic-vertical-webfont.ttf') format('woff');
 }

 @font-face {
     font-family: 'Belogodor';
     src: url('/fonts/Belogodor.ttf');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'Ume wide';
     src: url('/fonts/Ume-Vertical-Wide.ttf');
     font-weight: normal;
     font-style: normal;
 }


  @font-face {
      font-family: 'Ume wide oblique';
      src: url('/fonts/Ume-Vertical-Wide-Oblique.ttf');
      font-weight: normal;
      font-style: italic;
  }


 /**
  * Below : titles fonts.
  */
