// a,
// p,
// dd,
// dt,
// dl,
// h1,
// h2,
// h3,
// h4,
// h5,
// hr,
// ul,
// li,
// article,
// strong,
// blockquote,
// footer,
// {color: black;}

a {text-decoration: none;}
sup {
  vertical-align: super;
  font-size: 0.75em;
  line-height: 0pt;
}
.keep {
  word-break: break-all;
}
.push {page-break-before: always;}
.push-down {page-break-after: always;}

.down {
  margin-top: 20pt;
}

/*==============================================================*/
/*______________________ Texte - Global ________________________*/
/*==============================================================*/


#flow-main img[alt="origine-1"] { .flow-into(flow-ours); }
.flow-ours { .flow-from(flow-ours); }

#flow-main .editeur { .flow-into(flow-editeur); }
.flow-editeur { .flow-from(flow-editeur); }

#flow-main img[alt="peter-led"] { .flow-into(flow-peter-led); }
.flow-peter-led { .flow-from(flow-peter-led); }


p {
  vertical-align: baseline;
  font-family: 'Ume vertical';
  font-size: 8pt;
  line-height: 10pt;
}

p, .informations, .intro {
  margin-bottom: 6pt;
}

h3, h4 {
  page-break-inside: avoid;
  page-break-after: avoid;
  page-break-before: avoid;
  margin: 0;
  padding: 6pt 0pt;
}

h1 {
  font-family: 'Ume Mincho';
  font-family: 'Ume Mincho';
  font-size: 45pt;
  line-height: 42pt;
  letter-spacing: -0.03em;
  margin-bottom: 4.5pt;
  text-transform: uppercase;
}

h2 {
  font-family: 'Ume vertical';
  font-size: 10pt ;
  line-height: 14pt;
  margin-bottom: 2pt;
}

h3 {
  font-family: 'Ume Mincho';
  font-size: 12pt;
  line-height: calc(~"1.5 x @line-height");
  text-transform: uppercase;
}

h4 {
  font-family: 'Ume vertical';
  font-size: 8pt;
  line-height: 11pt;
  // line-height: calc(~"-1.7 x @line-height");
  text-transform: uppercase;
  margin-top: 0pt;
  padding-top: 0pt;
}

hr {
  visibility: hidden;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
  padding-top: @line-height;
}

li {
  list-style: none;
}

.informations {
  font-family: 'Ume vertical';
  font-size: 10pt ;
  line-height: 14pt;
}

.dates {
  font-family: 'Ume Mincho';
  font-size: 25pt;
  line-height: 23pt;
  letter-spacing: -0.02em;
  margin-bottom: 2pt;
}

.off {
  display: none;
}

.intro {
  font-family: 'Ume vertical';
  font-size: 12pt;
  line-height: 1.1em;
}

strong {
  font-weight: bolder;
  font-family: 'Ume Mincho';
}
blockquote {
  font-family: 'Ume Mincho';
  font-size: 13.5pt;
  line-height: 1.1em;
  margin: 20pt;
  padding: 0;
  margin-bottom: 24pt;
  text-align: center;
  padding-top: 18pt;
  transform: skewX(10deg);
}
blockquote p {
  margin-bottom: 0pt;
  font-family: 'Ume Mincho';
  transform: skewX(10deg);
  transform: skewY(8deg);
}

.footer {
  font-family: 'Ume vertical';
  font-size: 7pt ;
}

.contact {
  font-family: 'Ume Mincho';
  font-size: 10pt ;
}

.editeur {
  font-family: 'Ume vertical';
  font-size: 5pt ;
  -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  line-height: 7pt;
  page-break-before: always;
}

dl {
  line-height: 8pt;
  margin-top:0pt;
}

dt {
  font-family: 'Ume Mincho';
  font-size: 7.5pt ;
  display: inline;
  vertical-align: baseline;
}

dd:first-of-type::before {
    margin-left: 0pt
}

dd {
  font-family: 'Ume vertical';
  font-size: 7pt;
  display: inline;
}

.production {
  font-family: 'Ume vertical';
  font-size: 7pt;
  line-height: 9pt;
  margin-top: 4.5pt;
}

.figure {
  font-size: 9.5pt;
  line-height: 12pt;
}

.en {
  font-family: 'Ume wide oblique';
  font-style: italic;
  font-size: 8.7pt;
  line-height: 10.6pt;
}

.figure img {
  margin-bottom: 3pt;
}
.punchline {
  font-family: 'Ume Mincho';
  font-size: 18pt;
  line-height: 17pt;
}
.blanc {
  color:white;
}
.vert {
  color:#009933!important;
}
.orange {
  color:#fe5000 !important;
}
.violet{
  color:#913291 !important;
}

/*==============================================================*/
/*__________________________ images __________________________*/
/*==============================================================*/

.photos {
  width: 150px !important;
}

.demi {
  width: 50%;
}
.looking.right{
  padding-top: 46pt;
  margin-top: -22pt;
}

.verso img {
  width: 110px !important;
}

.cover img {
  width: 320px !important;
  margin-left: 20px;
}
.cover-ludum img {
  width: 380px !important;
  margin-left: -20px;
}


img[alt="origine-1"] {
  margin-top: 0px;
}

img[alt="logo-balsa"] {
  margin-top: 2px;
  float: left;
  width: 45px !important;
  position: relative;
  padding-right: 5px;
  margin-bottom: -3px;
}

img[alt="origine-4"] {
  width: 60px !important;
}

img[alt="peter"] {
  width: 200px !important;
}
img[alt="ludum-01"] {
  margin-left: -18px !important;
}

img[alt="peter-led"] {
  width: 220px !important;
}
img[alt="panneau-labo"] {
  width: 246px !important;
}
img[alt="labo-veines"] {
  width: 332px !important;
  margin-left: 42px;
  margin-top: 25px;
}
h1,
h2,
.dates,
.informations,
.contact {
  color:white;

}
.figure em {
  font-family: 'Ume Mincho Bold';
  font-size: 12pt;
}

.fond-rose {
  background-color: #006cdb;
  // background-color: #ff5480 ;
}
.fond-vert {
 background-color: #009933;
}
.fond-violet {
 background-color: #913291;
}

/*==============================================================*/
/*__________________________ export __________________________*/
/*______________________ couches_______________________*/
/*==============================================================*/
//////////////////////couche rose ////////////////////////
.export-rose {
  .pantone-vert {
    visibility: hidden;
  }
  .pantone-orange {
    visibility: hidden;
  }
  .all{
    display: none;
  }
  .vecto {
    display: none;
  }

  .fond-rose {
    background-color: black;
  }
  .fond-vert {
   background-color: transparent ;
  }

  p.figure,
  dl,
  p.production,
  p.note,
  p.editeur {
    color: white;
  }

div.visuels.verso.push-down {
    visibility: hidden;
  }

  // .verso img{
  //   visibility: hidden;
  // }

  h1,
  h2,
  h3,
  h4,
  p.dates,
  p.contact,
  p.informations{
    color: white;
  }

  .ludum h1 {
    color: white;
  }

}


//////////////////////////couche verte //////////////////////////
.export-vert {
  .pantone-orange {
    visibility: hidden;
  }
  .all{
    display: none;
  }
  .vecto {
    display: none;
  }
  .fond-orange {
    background-color: transparent;
  }
  .fond-rose {
   background-color: black;
  }
  .edito,
  .sommaire,
  .accueils,
  .tarifs,
  .colophon,
  .partenaires,
  .equipe,
  .pass,
  .contact,
  .editeur,
  .sheet:nth-child(even) .main:after,
  .sheet:nth-child(odd) .main:after{
    visibility: hidden;

  }
  .origine,
  .ou-suis-je,
  .valhalla,
  .lost,
  .carnets-peter,
  .poison,
  .xx,
  .ludum {
    h1,
    h2,
    h3,
    h4,
    p.dates,
    p.informations,
    p.figure,
    dl,
    p.production,
    p.note {
      visibility: hidden;
    }
  }
   }

//////////////////////couche orange ////////////////////////
.export-orange {
  .pantone-vert {
    visibility: hidden;
  }
  .all{
    display: none;
  }
  .vecto {
    display: none;
  }
  .fond-orange {
    background-color: black;
  }
  .fond-vert {
   background-color: transparent ;
  }
  .edito,
  .sommaire,
  .accueils,
  .tarifs,
  .colophon,
  .partenaires,
  .equipe,
  .pass,
  .sheet:nth-child(even) .main:after,
  .sheet:nth-child(odd) .main:after{
    visibility: hidden;
  }
  .origine,
  .ou-suis-je,
  .valhalla,
  .lost,
  .carnets-peter,
  .poison,
  .ludum {
    h1,
    h2,
    h3,
    h4,
    p.dates,
    p.informations,
    p.figure,
    dl,
    p.production,
    p.note {
      visibility: hidden;
    }
  }
}

//////////////////////couche violet ////////////////////////
.export-violet {
  .pantone-violet {
    visibility: hidden;
  }

  .all{
    display: none;
  }
  .vecto {
    display: none;
  }
  .fond-violet {
    background-color: black;
  }
  .fond-vert {
   background-color: transparent ;
  }
  .edito,
  .sommaire,
  .accueils,
  .tarifs,
  .colophon,
  .partenaires,
  .equipe,
  .editeur,
  .pass,
  .sheet:nth-child(even) .main:after,
  .sheet:nth-child(odd) .main:after{
    visibility: hidden;
  }
  .origine,
  .ou-suis-je,
  .valhalla,
  .lost,
  .carnets-peter,
  .poison,
  .ludum {
    h1,
    h2,
    h3,
    h4,
    p.dates,
    p.informations,
    p.figure,
    dl,
    p.production,
    p.note {
      visibility: hidden;
    }
  }
}

//////////////////couche noire///////////////////////
.export-vecto {

    h1,
    h2,
    h3,
    h4,
    p.dates,
    p.contact,
    p.informations{
      visibility: hidden;
    }


  .pantone-orange {
    display: none;
  }
  .pantone-vert{
    display: none;
  }
  .pantone-rose{
    display: none;
  }
  .pantone-blanc{
    display: none;
  }
  .all{
    display: none;
  }
  .pantone-trou-blanc{
    display: none;
  }
  .fond-orange {
    background-color: transparent;
  }
  .fond-rose {
   background-color: transparent ;
  }
}

//////////////////couche all///////////////////////
.export-all {
  .pantone-orange {
    display: none;
  }
  .pantone-vert{
    display: none;
  }
  .pantone-blanc{
    display: none;
  }
  .pantone-rose{
    display: none;
  }
  .vecto {
    display: none;
  }
  .pantone-trou-blanc{
    display: none;
  }
}
